body {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.imgs {
    display: flex;
    flex-direction: column;
    align-items: center;
    float: right;
    padding: 25px;
    border: 2px solid black;
    margin-left: 20px;
}

img {
    height: 200px;
    width: 200px;
}

.forms {
    color: black;
    padding-top: 12px;
}

.new {
    font-size: 35px;
    text-decoration: underline;
}

.admins {
    display: flex;
    justify-content: end;
    padding-right: 15px;
    color: black;
}

.admins:hover {
    color: #ea4f4c;
}

@media (max-width: 400px) {
    .imgs {
        float: inline-start;
        margin: 10% 15% 15% 15%;
    }
    .admins {
        margin-top: 18%;
    }
}
